.Normal_text {font-family:Arial;font-weight:normal;font-style:normal;font-size:9pt;text-decoration:none;text-transform: none;color:#6D6E6D;letter-spacing:0em;}
.Heading_1 {font-family:Times New Roman;font-weight:normal;font-style:normal;font-size:28.5pt;text-decoration:none;text-transform: none;color:#52524F;letter-spacing:0em;}
.Heading_2 {font-size:26pt;}
.Small_text {font-family:Arial;font-weight:normal;font-style:normal;font-size:8pt;text-decoration:none;text-transform: none;color:#000000;letter-spacing:0em;}
