.Normal_text {font-family:Arial;font-weight:normal;font-style:normal;font-size:9pt;text-decoration:none;text-transform: none;color:#6D6E6D;letter-spacing:0em;}
.Heading_1 {font-family:Times New Roman;font-weight:normal;font-style:normal;font-size:28.5pt;text-decoration:none;text-transform: none;color:#52524F;letter-spacing:0em;}
.Heading_3 {font-size:13pt;}
.Small_text {font-family:Arial;font-weight:normal;font-style:normal;font-size:8pt;text-decoration:none;text-transform: none;color:#52524F;letter-spacing:0em;}
